@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>


<address>
    E. Mountain ST<br />
    Worcester, MA 01606<br />
    <abbr title="email">Email:</abbr>
    qyfjob4383@gmail.com 
</address>

<p> This is an exerciese project based on Microsoft EF Code First with ASP.NET MVC tutorial. "Announcement" is added into this project in this version. </p>